<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL_PROD</key>
	<string>https://www.omdbapi.com</string>
	<key>APIKEY_PROD</key>
	<string>b1c39f44</string>
</dict>
</plist>
